# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)

app/config/database.js
app/config/application.js
app/config/google.js

node_modules/

ui/bower_components/
ui/dist/

ui-dist.zip

.tmp
.idea
